AnchorPane{
    -fx-background-image: url("image/difficulty_background.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#easyB{
    -fx-background-image: url("image/Easy.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#mediumB{
    -fx-background-image: url("image/Medium.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#hardB{
    -fx-background-image: url("image/Hard.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#backB{
    -fx-background-image: url("image/back_button.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}