#container1 {
    -fx-background-color: #5b6d5b;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}

#container12{
    -fx-background-color: #4a503d;

}

#container11{
    -fx-background-color: #334443;
}

#hpShow{
    -fx-text-alignment: center;
}
#exShow{
    -fx-text-alignment: center;
}
.skillView{
    -fx-image: url("image/lock.jpg");
}
